<div class="container offset-md-1  setquiz">
    <div class="row my-3">
       <h2>Confirmation</h2>
    </div>
    <% flash.each do |key, value| %>
      <%= content_tag(:p, value, class: key) %>
    <% end %>

    <%= form_with model:@question, url:post_question_path(@post,@question) ,method: :patch,local: true do |f| %>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>問題文（指示）</p>
       </div>
       <div class="col-7">
          <%= f.text_field :direction , class: "form-control"%>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>問題</p>
       </div>
       <div class="col-7">
          <%= f.text_field :question , class: "form-control"%>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>正解</p>
       </div>
       <div class="col-7">
          <%= f.text_field :correct_choice , class: "form-control"%>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>不正解</p>
       </div>
       <div class="col-3">
          <%= f.text_field :first_wrong_choice , class: "form-control"%>
       </div>
       <div class="col-3">
          <%= f.text_field :second_wrong_choice , class: "form-control"%>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>解説</p>
       </div>
       <div class="col-7">
          <%= f.text_area :explanation , class: "form-control"%>
       </div>
     </div>
　　<div class = "setquiz_buttons">

      <div class="setquiz_button">
         <%= f.submit "内容を変更" ,class:"btn" ,data: {"turbolinks"=>false}%>
      </div>
   <% end %>
      <div class="setquiz_button">
         <%= link_to "問題追加", new_post_question_path(@question.post), class: "btn",data: {"turbolinks"=>false}%>
      </div>

      <div class="setquiz_button">
         <%= link_to "確定", users_path, class: "btn" ,data: {"turbolinks"=>false}%>
      </div>

　　</div>

</div>