<h2 class = "favorite-posts">Favorite Posts</h2>
<% @liked_posts.each do |liked_post| %>
  <div class = "eachPost">

    <div class = "post-wrapper">
      <div class = "post-head">
        <%= attachment_image_tag liked_post.user ,:profile_image ,size: "40x40" ,class:"userImg"%>
        <p><%= link_to liked_post.user.name , user_path(liked_post.user) ,class: "userName",data: {"turbolinks"=>false}%></p>
        <p class = "postedGenre"><<%= liked_post.genre %>></p>
        <p class = "postedDate"><%= liked_post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      </div>

      <p class = "postedContent"><%= liked_post.content %></p>

      <div class = "post-footer">
        <div id="likes_buttons_<%= liked_post.id %>" class = "likesInPost">
            <%= render partial: 'likes/like', locals: { post: liked_post} %>
        </div>

        <button type = "button" class="btn startBtn" data-id= <%= liked_post.id %>>
          <i class = "far fa-lightbulb fa-2x"></i>
        </button>

        <div class="commentBtn" data-id= <%= liked_post.id %>>
          <i class="far fa-comment fa-lg"></i>
          <p class = "commentAmount_<%= liked_post.id %>"><%= liked_post.comments.count %>件</p>
        </div>

        <div>
          <p>previous score</p>
          <% @liked_post_score = liked_post.scores.where(day_score_id: @day_score.id).last %>
          <%= @liked_post_score.present? ? @liked_post_score.score : '0' %>/<%=liked_post.questions.size%>
        </div>
      </div>
    </div>

    <div class="comment-list comment-list_<%= liked_post.id %> ">
      <div class = "comments_area_<%= liked_post.id %> comment-box">
        <%= render partial: 'comments/index', locals: { comments: liked_post.comments.order(created_at: :desc) , post: liked_post ,comment: @comment} %>
      </div>
      <% if user_signed_in? %>
          <div class="comment-create">
              <h5>Create Comments</h5>
              <%= render partial: 'comments/form', locals: {comment: @comment, post: liked_post } %>
          </div>
      <% end %>
    </div>

</div>

<% end %>
<div class="question_list hidden">
  <%= render partial: 'questions/show'%>
</div>




