<div class="container edit-user">
  <% if @user.errors.any? %>
      <div class="alert alert-warning">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-5">
          <%= form_with model:@user, local:true do |f| %>
          <h2>User info</h2>
          <p>Name</p>
          <%= f.text_field :name, autofocus: true ,placeholder:"#{@user.name}" ,class:"form-control" %>
          <p class="my-2">Image</p>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          <p class="my-2">Introduction</p>
          <%= f.text_area :introduction ,class:"form-control" , placeholder: "(200字以内)"%>
          <%= f.submit "Update User" ,class:"btn my-3"%>
          <% end %>
       </div>
    </div>
    <div class="row">
      <div class = "col">
        <p><%=link_to"退会する",users_delete_path ,class: "btn"%></p>
      </div>
    </div>
</div>