<h2 class = "follow_list">Follow</h2>
  <% @follows.each do |f| %>
    <div class = "eachUser">
        <div class = "follow-head">
          <%= attachment_image_tag f ,:profile_image ,size: "40x40" ,class:"userImg" , fallback: "no_image.jpg"%>
          <p><%= link_to f.name , user_path(f) ,class: "userName",data: {"turbolinks"=>false}%></p>
           <% if user_signed_in? && f != current_user %>
          <div id="follow_<%= f.id %>" class="follow_form" >
            <% if current_user.following?(f) %>
              <%= render "unfollow",{user: f} %>
            <% else %>
              <%= render "follow",{user: f} %>
            <% end %>
           </div>
          <% end %>
        </div>
        <p class = "follow_intro"><%= f.introduction %></p>
    </div>
  <% end %>