

<div id="rank-wrap">
  <h1>Rank</h1>
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">週間いいね(単語)</a></li>
    <li><a href="#tab2" class="">週間いいね(文法)</a></li>
    <li><a href="#tab3" class="">月間いいね</a></li>
    <li><a href="#tab4" class="">週間スコア</a></li>
  </ul>

  <div id="tab-contents">

    <div id="tab1" class="tab">
      <% @weekly_tango_likes.each_with_index do |wtl,i|%>
      <div class = "RANK">
        <div>
          <div class = "RANK">
            <p class = "rank_number"><%= i + 1 %></p>
            <p class = "rank_name"><%= link_to wtl.user.name, user_path(wtl.user)  %></p>
          </div>
          <p><%= wtl.content %></p>
        </div>
        <div class= "rank_button">
          <button type = "button" class="btn startBtn" data-id= <%= wtl.id %>>
          <i class = "far fa-lightbulb fa-2x"></i>
          </button>
          <p class = "rank_heart"><i class="fas fa-heart fa-lg"></i><%= wtl.likes.where(likes: {created_at: Time.now.all_day}).size %></p>
        </div>
      </div>
      <%end%>
    </div>

    <div id="tab2" class="tab">
      <% @weekly_bunpou_likes.each_with_index do |wbl,i|%>
      <div class = "RANK">
        <div>
          <div class = "RANK">
            <p class = "rank_number"><%= i + 1 %></p>
            <p class = "rank_name"><%= link_to wbl.user.name, user_path(wbl.user) %></p>
          </div>
          <p><%= wbl.content %></p>
        </div>
        <div class= "rank_button">
          <button type = "button" class="btn startBtn" data-id= <%= wbl.id %>>
          <i class = "far fa-lightbulb fa-2x"></i>
          </button>
          <p class = "rank_heart"><i class="fas fa-heart fa-lg"></i><%= wbl.likes.where(likes: {created_at: Time.now.all_week}).size %></p>
        </div>
      </div>
      <%end%>
    </div>

    <div id="tab3" class="tab">
      <% @monthly_likes.each_with_index do |ml,i|%>
      <div class = "RANK">
        <div>
          <div class = "RANK">
            <p class = "rank_number"><%= i + 1 %></p>
            <p class = "rank_name"><%= link_to ml.user.name, user_path(ml.user) %></p>
          </div>
          <p><%= ml.content %></p>
        </div>
        <div class= "rank_button">
          <button type = "button" class="btn startBtn" data-id= <%= ml.id %>>
          <i class = "far fa-lightbulb fa-2x"></i>
          </button>
          <p class = "rank_heart"><i class="fas fa-heart fa-lg"></i><%= ml.likes.where(likes: {created_at: Time.now.all_month}).size %></p>
        </div>
      </div>
      <%end%>
    </div>

    <div id="tab4" class="tab">
      <% @weekly_scores.each_with_index do |ws,i|%>
      <div class = "RANK">
        <p class = "rank_number"><%= i + 1 %></p>
        <p class = "rank_name"><%= link_to ws.name , user_path(ws.user_id)%></p>
        <p><%= ws.sum_day_score %>点</p>
      </div>
      <%end%>
    </div>

  </div>
  <div class="question_list hidden">
   <%= render partial: 'questions/show'%>
  </div>
</div>

