<div class="container mt-5 setquiz">
    <div class="row my-3">
       <h2>Confirmation</h2>
    </div>

    <%= form_with model:@post, url:post_path(@post) ,method: :patch,local: true do |f| %>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>つぶやき</p>
       </div>
       <div class="col-7">
          <%= f.text_area :content, autofocus: true %>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>ジャンル</p>
       </div>
       <div class="col-7">
            <%= f.select :genre, [["単語", "単語"], ["文法", "文法"]], include_blank: "選択して下さい" %>
       </div>
     </div>

    <%= f.fields_for :questions do |question| %>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>問題文（指示）</p>
       </div>
       <div class="col-7">
          <%= question.text_field :direction %>

       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>問題</p>
       </div>
       <div class="col-7">
            <%= question.text_field :question %>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>正解</p>
       </div>
       <div class="col-7">

            <%= question.text_field :correct_choice %>

       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>不正解</p>
       </div>
       <div class="col-3">

            <%= question.text_field :first_wrong_choice%>

       </div>
       <div class="col-3">

            <%= question.text_field :second_wrong_choice%>

       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>解説</p>
       </div>
       <div class="col-7">
            <%= question.text_area :explanation %>
       </div>
     </div>
     <% end %>
     <div class="row">
       <div class="col-4 mx-auto">
          <%= f.submit "内容を変更" ,class:"btn btn-warning"%>
       </div>
     </div>
    <% end %>

     <div class="row">
       <div class="col-4 mx-auto">
          <%= link_to "問題追加", new_question_path, class: "btn",data: {"turbolinks"=>false}%>
       </div>
     </div>

     <div class="row">
       <div class="col-4 mx-auto">
          <%= link_to "確定", users_path, class: "btn" ,data: {"turbolinks"=>false}%>
       </div>
     </div>

</div>