<!DOCTYPE html>
<html>
  <head>
    <title>Solve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% if user_signed_in? && current_user.present? && !(controller.action_name == "top" && controller.controller_name == "homes") %>
  <div class = "side-bar">
   <div class = "sidebar-head">
     <div><%= attachment_image_tag current_user, :profile_image ,size: "100x100", fallback: "no_image.jpg"%></div>
     <div class = "name"><%= current_user.name %></div>
   </div>
   <table class="table">
     <tbody>
       <tr>
         <th>Today's Score</th>
         <th><%= current_user.day_scores.last.day_score %></th>
       </tr>
       <tr>
         <th><%= link_to "Follow" ,user_users_follow_list_path(current_user) ,data: {"turbolinks"=>false} ,class: "text-dark"%></th>
         <th id = "my_follow"><%= current_user.followings.size %></th>
       </tr>
       <tr>
         <th><%= link_to "Follower" ,user_users_follower_list_path(current_user) ,data: {"turbolinks"=>false},class: "text-dark"  %></th>
         <th id = "my_follower"><%= current_user.followers.size %></th>
       </tr>
     </tbody>
   </table>
   <div class = "sidebar-footer">
     <div class = ""><%= current_user.introduction %></div>
   </div>
  </div>
  <%end%>

  <% if user_signed_in?  && current_user.present? && !(controller.action_name == "top" && controller.controller_name == "homes") %>
    <div>
        <header>
            <%= link_to posts_path ,data: {"turbolinks"=>false} do %>
             <%= image_tag 'logo.jpg',size:'80x80'  %>
            <%end%>

            <%= form_with(url: search_posts_path, method: :get, local: true) do |f| %>
              <%= f.text_field :content, placeholder: "例）TOEIC"%>
              <%= f.submit "Search" , class: "btn" %>
            <% end %>

            <div id="sp-menu">
              <ul>
                  <li>
                    <%= link_to "MyPage", users_path ,class: 'fas fa-home',data: {"turbolinks"=>false}%></i>
                  </li>
                   <li>
                    <%= link_to "Favorites" ,likes_index_path,class: 'fas fa-heart',data: {"turbolinks"=>false}%>
                  </li>
                   <li>
                    <%= link_to "Ranking" ,ranks_index_path,class: 'fas fa-trophy',data: {"turbolinks"=>false}%>
                  </li>
                  <li>
                    <%= link_to "Edit", edit_user_path(current_user) ,class: 'fas fa-user-cog' ,data: {"turbolinks"=>false}%>
                  </li>
                   <li>
                    <%= link_to "logout", destroy_user_session_path, method: :delete ,class: 'fas fa-sign-out-alt' %>
                  </li>
              </ul>
            </div>

            <div id="hm-icon">
              <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
        </header>
      <% end %>
    </div>

    <% if user_signed_in? && current_user.present? && !(controller.action_name == "top" && controller.controller_name == "homes") %>
    <div id = "rightSideWrapper">
    <% else %>
    <div>
    <% end %>


      <%= yield %>
      <%= link_to new_post_path do %>
          <i class="fas fa-plus-circle fa-4x add-question"></i>
      <% end %>
    </body>
  </div>
</html>
