<!DOCTYPE html>
<html>
  <head>
    <title>Solve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
  <div class = "side-bar">
   <div class = "sidebar-head">
     <div><%= attachment_image_tag current_user, :profile_image ,size: "100x100", fallback: "no_image.jpg"%></div>
     <div class = "name"><%= current_user.name %></div>
   </div>
   <table class="table">
     <tbody>
       <tr>
         <th>Today's Score</th>
         <th><%= current_user.introduction %></th>
       </tr>
       <tr>
         <th>Follow</th>
         <th><%= current_user.followings.size %></th>
       </tr>
       <tr>
         <th>Follower</th>
         <th><%= current_user.followers.size %></th>
       </tr>
       <tr>
         <th>introduction</th>
         <th><%= current_user.introduction %></th>
       </tr>
     </tbody>
   </table>
  </div>
  <%end%>

  <% if user_signed_in? && !(controller.action_name == "top" && controller.controller_name == "homes") %>
    <div>
        <header>
            <%= link_to posts_path do %>
             <%= image_tag 'logo.jpg',size:'80x80'  %>
            <%end%>
            <div id="sp-menu">
              <ul>
                  <li>
                    <%= link_to "MyPage", user_path(current_user.id) ,class: 'fas fa-home'%></i>
                  </li>
                   <li>
                    <%= link_to "Favorites" ,likes_index_path,class: 'fas fa-heart'%>
                  </li>
                   <li>
                    <%= link_to "Ranking" ,ranks_index_path,class: 'fas fa-trophy'%>
                  </li>
                  <li>
                    <%= link_to "Edit",edit_user_path(current_user.id) ,class: 'fas fa-user-cog' %>
                  </li>
                   <li>
                    <%= link_to "logout", destroy_user_session_path, method: :delete ,class: 'fas fa-sign-out-alt' %>
                  </li>
              </ul>
            </div>

            <div id="hm-icon">
              <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
        </header>
      <% end %>
    </div>
  <div id = "rightSideWrapper">
    <body>
      <%= yield %>
      <%= link_to new_post_path do %>
          <i class="fas fa-plus-circle fa-4x add-question"></i>
      <% end %>
    </body>
  </div>
</html>
